In [1]:
import pandas as pd

In [2]:
train  = pd.read_csv('Housing_dataset_train.csv')
test  = pd.read_csv("Housing_dataset_test.csv")

In [4]:
train.head()

,ID,loc,title,bedroom,bathroom,parking_space,price
0,3583,Katsina,Semi-detached duplex,2.0,2.0,1.0,1149999.565
1,2748,Ondo,Apartment,NaN,2.0,4.0,1672416.689
2,9261,Ekiti,NaN,7.0,5.0,NaN,3364799.814
3,2224,Anambra,Detached duplex,5.0,2.0,4.0,2410306.756
4,10300,Kogi,Terrace duplex,NaN,5.0,6.0,2600700.898

In [9]:
ntrain = train.shape[0]
ntest = test.shape[0]
df=pd.concat([train,test])

In [13]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="Ruch")

def feature_generation(df):
    lat=[]
    long=[]
    a=0
    for i in df['loc']: 
        location = geolocator.geocode(i)
        try:
            lat.append(location.latitude)
            long.append(location.longitude)
            print(a)
        except:
            lat.append("NA")
            long.append("NA")
        a=a+1
    df['Latitude'] = lat
    df['Longitude'] = long

In [22]:
# feature_generation(df)

In [21]:
a  = pd.DataFrame(df['loc'].unique(),columns  = ['loc'] )

In [23]:
 feature_generation(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

In [25]:
a.to_csv('location.csv',index  = False)